@import "../../styles/iconClasses.css";
@import "../../styles/mediaqueries.css";

.input-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-radius: 5px;
}

.input-main {
	width: 100%;
	padding: 20px;
	font-size: 24px;
	color: var(--input-color);
}

.input-main::placeholder {
	font-size: 20px;
	opacity: 0.5;
}
