.btn-todolistitem {
	color: var(--text-color);
}

@media (hover: hover) and (pointer: fine) {
	.btn-todolistitem:hover {
		opacity: 1 !important;
		transition: opacity 0.3s ease-out;
		cursor: pointer;
	}
}
