@import "../../styles/buttons.css";
@import "../../styles/mediaqueries.css";

.btn-filter {
	opacity: 0.5;
}

.btn-filter_active {
	opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
	.btn-filter:hover {
		opacity: 1;
	}
}
