@import "@styles/buttons.scss";
@import "@styles/variables.scss";

.btn-filter {
	opacity: 0.5;
}

.btn-filter_active {
	opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
	.btn-filter:hover {
		opacity: 1;
	}
}

@media (max-width: $mobile) {
	.btn-filter {
		padding: 5px;
	}
}
