.todo-item {
	display: flex;
	align-items: center;
	width: 100%;
	flex: 0 0 100%;
	gap: 20px;
	font-size: 24px;
	margin-bottom: 5px;
	padding: 10px 0;
	border-bottom: 2px solid var(--text-color);
}

.todo-item .btn-todolistitem {
	opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
	.todo-item .btn-todolistitem {
		opacity: 0;
	}

	.todo-item:hover .btn-todolistitem {
		opacity: 0.5;
	}
}

.todo-item.checked .btn-todolistitem {
	opacity: 0.5;
}

@media (hover: hover) and (pointer: fine) {
	.todo-item.checked .btn-todolistitem {
		opacity: 0;
	}

	.todo-item.checked:hover .btn-todolistitem {
		opacity: 0.5;
	}
}

.todo-item.deleting {
	animation: opacity 1s ease-in-out;
}

.todo-item.checked .deleting {
	animation: opacity 1s ease-in-out;
}

.description {
	color: var(--text-color);
	display: inline-flex;
	flex-grow: 1;
	word-break: break-all;
	overflow: hidden;
}

.description::placeholder {
	color: var(--text-color);
}

.btn-complete {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.btn-complete + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
	.btn-complete:hover + label::before {
		opacity: 0.5;
	}
}

.btn-complete + label::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid var(--text-color);
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 60%;
}

.btn-complete:checked + label::before {
	border-color: var(--text-color);
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
	opacity: 0.4;
}

.btn-complete:checked ~ * {
	text-decoration: line-through;
	opacity: 0.5;
}

@media (max-width: 400px) {
	.todo-item {
		gap: 10px;
	}

	.description {
		font-size: 18px;
	}
}

@keyframes opacity {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
