.input-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-radius: 5px;
}

.btn-add {
	cursor: pointer;
	transition: filter 0.3s ease-out;
	color: var(--input-color);
}

@media (hover: hover) and (pointer: fine) {
	.btn-add:hover {
		filter: brightness(1.5);
	}
}

.btn-add:active {
	transform: translateY(2px);
}

.fa-plus {
	display: block;
	margin-right: 20px;
	color: var(--input-color);
	font-size: 36px;
}

.input-main {
	width: 100%;
	padding: 20px;
	font-size: 24px;
	color: var(--input-color);
}

.input-main::placeholder {
	font-size: 20px;
	opacity: 0.5;
}

@media (max-width: 400px) {
	.input-wrapper {
		margin-bottom: 15px;
	}

	.input-main {
		font-size: 22px;
		padding: 20px 10px;
	}

	.input-main::placeholder {
		font-size: 18px;
	}

	.btn-add svg {
		margin-right: 10px;
	}
}
