@import "@styles/variables.scss";

.btn_generalStyle {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: $textColor;
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-out;
	border-bottom: 1px solid transparent;
}
