@media (max-width: 768px) {
	h1 {
		font-size: 48px;
	}
}

@media (max-width: 400px) {
	.App {
		width: 100%;
	}

	h1 {
		font-size: 36px;
	}

	.header {
		padding: 25px 0;
	}

	.btn-filter {
		padding: 5px;
	}

	.input-wrapper {
		margin-bottom: 15px;
	}

	.input-main {
		font-size: 22px;
		padding: 20px 10px;
	}

	.input-main::placeholder {
		font-size: 18px;
	}

	.btn-add svg {
		margin-right: 10px;
	}

	.todo-item {
		gap: 10px;
	}

	.description {
		font-size: 18px;
	}

	.todo-count {
		font-size: 18px;
	}
}
