.btn-filter {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--text-color);
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: color 0.3s ease-out;
	border-bottom: 1px solid transparent;
}

.btn-filter {
	opacity: 0.5;
}

.btn-filter_active {
	opacity: 1;
}
