h1 {
	font-weight: 300;
	font-size: 60px;
	text-align: center;
}
.header {
	padding: 35px 0;
}

@media (max-width: 768px) {
	h1 {
		font-size: 48px;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 36px;
	}

	.header {
		padding: 25px 0;
	}
}
