.btn-clear {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--text-color);
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-out;
	border-bottom: 1px solid transparent;
}

.btn-clear:active {
	transform: translateY(3px);
}

@media (hover: hover) and (pointer: fine) {
	.btn-clear:hover {
		outline: 1px solid var(--text-color);
	}
}
