.App {
	background: linear-gradient(to bottom, #46549e, #89cbf0);
	border-radius: 10px;
	width: 500px;
	margin: 50px auto;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
