@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700");
@import "./styles/mediaqueries.css";

:root {
	--text-color: #e7f9ff;
	--input-color: #46549e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	font-size: 20px;
}

body {
	width: 100%;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	padding: 0 10px;
}

button,
input,
textarea {
	border: none;
	outline: none;
	appearance: none;
	background: transparent;
}

textarea {
	resize: none;
}

.App {
	background: linear-gradient(to bottom, #46549e, #89cbf0);
	border-radius: 10px;
	width: 500px;
	margin: 50px auto;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
