@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700");

:root {
	--text-color: #e7f9ff;
	--input-color: #46549e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	font-size: 20px;
}

body {
	width: 100%;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	padding: 0 10px;
}

button,
input,
textarea {
	border: none;
	outline: none;
	appearance: none;
	background: transparent;
}

textarea {
	resize: none;
}

.header {
	padding: 35px 0;
}
h1 {
	font-weight: 300;
	font-size: 60px;
	text-align: center;
}

.mb {
	margin-bottom: 15px;
}

.mt {
	margin-top: 15px;
}
